body {
  font-family: 'PT Sans Caption', sans-serif;
  font-style: normal;
}
body {
  margin: 0;
  position: relative;
  }
body:before {
   content: " ";
   background-image: url(../img/group.png);
   background-repeat: no-repeat;
   background-position: left;
   position: absolute;
   top: 2px;
   display: block;
   width: 507px;
   height: 843px;
  }
body:after {
   content: " ";
   background-image: url(../img/groupright.png);
   position: absolute;
   bottom: 0px;
   display: block;
   width: 538px;
   height: 870px;
   right: 0px;
   background-position: right;
   }
.nav__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-right: 24px;
    color: #504A62;
}
.nav__link:last-child {
    margin-right: 0px;
}
.link_mobile{
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
  color: #000000;
  display: none;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    width: 1529px;
    margin: auto;
    margin-bottom: 109px;
  }
  .header__logo {
    width: 127px;
    height: 29px;
  }
  .logo_mobile {
    display: none;
  }
  .burger {
    display: none;
  }
  .section__title {
    width: 868px;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    margin: auto;
    text-align: center;
    color: #504A62;
    margin-bottom: 56px;
  }
  .app-links {
    width: 425px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 121px;
  }
  .app-link:last-child {
    margin-right: 0px;
  }
  .app-link__img {
    width: 195px;
  }
  .section__iphone {
    display:flex;
    align-items: center;
    margin: auto;
    width: 333px;
  }
  @media (min-width: 310px) {
    .body {
    font-size: 24px
    }
    body {
      margin: 0;
      position: relative;
      }
    .nav__link {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-right: 24px;
        color: #504A62;
        display: none;
    }
    .nav__link:last-child {
        margin-right: 0px;
        display: none;
    }
    .menumobile {
      top: 450px;
      left: 450px;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .link_mobile{
      display: block;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
    }
    .header {
        display:flex;
        padding-top: 54px;
        width: 210px;
        margin: auto;
        margin-bottom: 24px;
      }
      .header__logo {
        width: 148px;
        height: 33px;
        display: none;
      }
      .logo_mobile {
        display: block;
        align-items: center;
        margin-bottom: 24px;
        }
      .burger {
        display: block;
        top: 54px;
        right: 38px;
        width: 25px;
        height: 23px;
        margin-bottom: 42px;
        position: absolute;

      }
      .section__title {
        width: 274px;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        margin: auto;
        text-align: center;
        color: #504A62;
        margin-bottom: 66px;
      }
      .app-links {
        width: 225px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 26px;
      }
      .app-link:last-child {
        margin-right: 0px;
      }
      .app-link__img {
        width: 108px;
      }
      .section__iphone {
        display:flex;
        align-items: center;
        margin: auto;
        width: 333px;
        margin-bottom: 80px;
      }
      body:before {
         content: " ";
         background-image: url(../img/group.png);
         background-repeat: no-repeat;
         background-position: left;
         position: absolute;
         top: 26px;
         display: block;
         width: 507px;
         height: 852px;
         display: none;
        }
      body:after {
         content: " ";
         background-image: url(../img/groupright.png);
         position: absolute;
         top: 66px;
         display: block;
         width: 363px;
         height: 961px;
         right: 0px;
         background-position: right;
         display: none;
         }
         .section__iphone {
           display:flex;
           align-items: center;
           margin: auto;
           width: 275px;
         }
  }
  @media (min-width: 1300px) {
    .body {
    font-size: 32px
    }
    body {
      margin: 0;
      position: relative;
      }
    .nav__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        margin-right: 20px;
        color: #504A62;
    }
    .nav__link:last-child {
        margin-right: 0px;
    }
    .header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 43px;
        width: 925px;
        margin: auto;
        margin-bottom: 90px;
      }
      .header__logo {
        width: 98px;
        height: 22px;
      }
      .logo_mobile {
        display: none;
      }
      .burger {
        display: none;
      }
      .section__title {
        width: 720px;
        font-weight: bold;
        font-size: 32px;
        line-height: 41px;
        margin: auto;
        text-align: center;
        color: #504A62;
        margin-bottom: 40px;
      }
      .app-links {
        width: 292px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 80px;
      }
      .app-link:last-child {
        margin-right: 0px;
      }
      .app-link__img {
        width: 134px;
      }
      body:before {
         content: " ";
         background-image: url(../img/group.png);
         background-repeat: no-repeat;
         background-position: left;
         position: absolute;
         top: 24px;
         display: block;
         width: 315px;
         height: 760px;
        }
      body:after {
         content: " ";
         background-image: url(../img/groupright.png);
         position: absolute;
         top: 40px;
         display: block;
         width: 389px;
         height: 100%;
         right: 0px;
         background-position: right;
         }
         .section__iphone {
           display:flex;
           align-items: center;
           margin: auto;
           width: 333px;
         }
  }
   @media (min-width: 1000px) {
    .body {
    font-size: 32px
    }
    body {
      margin: 0;
      position: relative;
      }
    .nav__link {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-right: 24px;
        color: #504A62;
    }
    .nav__link:last-child {
        margin-right: 0px;
    }
    .header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
        width: 925px;
        margin: auto;
        margin-bottom: 109px;
      }
      .header__logo {
        width: 127px;
        height: 29px;
      }
      .logo_mobile {
        display: none;
      }
      .burger {
        display: none;
      }
      .section__title {
        width: 720px;
        font-weight: bold;
        font-size: 32px;
        line-height: 41px;
        margin: auto;
        text-align: center;
        color: #504A62;
        margin-bottom: 56px;
      }
      .app-links {
        width: 292px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 121px;
      }
      .app-link:last-child {
        margin-right: 0px;
      }
      .app-link__img {
        width: 134px;
      }
      body:before {
         content: " ";
         background-image: url(../img/group.png);
         background-repeat: no-repeat;
         background-position: left;
         position: absolute;
         top: 23px;
         display: block;
         width: 309px;
         height: 852px;
        }
      body:after {
         content: " ";
         background-image: url(../img/groupright.png);
         position: absolute;
         top: 66px;
         display: block;
         width: 363px;
         height: 961px;
         right: 0px;
         background-position: right;
         }
  }
  @media (min-width: 1800px) {
    .body {
    font-size: 40px
    }
    body {
      margin: 0;
      position: relative;
      }
    body:before {
       content: " ";
       background-image: url(../img/group.png);
       background-repeat: no-repeat;
       background-position: left;
       position: absolute;
       top: 2px;
       display: block;
       width: 507px;
       height: 843px;
      }
    body:after {
       content: " ";
       background-image: url(../img/groupright.png);
       position: absolute;
       bottom: 0px;
       display: block;
       width: 538px;
       height: 870px;
       right: 0px;
       background-position: right;
       }
    .nav__link {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-right: 24px;
        color: #504A62;
    }
    .nav__link:last-child {
        margin-right: 0px;
    }
    .header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
        width: 1529px;
        margin: auto;
        margin-bottom: 109px;
      }
      .header__logo {
        width: 127px;
        height: 29px;
      }
      .logo_mobile {
        display: none;
      }
      .burger {
        display: none;
      }
      .section__title {
        width: 868px;
        font-weight: bold;
        font-size: 32px;
        line-height: 41px;
        margin: auto;
        text-align: center;
        color: #504A62;
        margin-bottom: 56px;
      }
      .app-links {
        width: 425px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 121px;
      }
      .app-link:last-child {
        margin-right: 0px;
      }
      .app-link__img {
        width: 195px;
      }
      .section__iphone {
        display:flex;
        align-items: center;
        margin: auto;
        width: 333px;
      }
